* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #995809;
}
.wrapper {
  border-radius: 20px;
  border-right: 20px;
  padding: 35px 40px;
  background-color: #141414;
}
.wrapper header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}
header .column {
  display: flex;
  align-items: center;
}

.volumn-slider input {
  accent-color: #fff;
  outline: none;
}

.keys-checkbox input {
  position: relative;
  outline: none;
  width: 60px;
  height: 30px;
  appearance: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: #4b4b4b;
}
.keys-checkbox input::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: inherit;
  top: 50%;
  left: 5px;
  position: absolute;
  background-color: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
  left: 35px;
  background-color: #fff;
}
header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

.piano-keys {
  display: flex;
  margin-top: 40px;
}
.piano-keys .key {
  list-style: none;
  user-select: none;
  color: #a2a2a2;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}
.piano-keys .black {
  width: 44px;
  height: 140px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black.active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #000, #434343);
}
.piano-keys .white {
  width: 70px;
  height: 230px;
  border-radius: 80px;
  border: 1px solid #000;
  background-image: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #fff 0, #eee 100%);
}

.piano-keys span {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 1.13rem;
}
.piano-keys .key.hide span {
  display: none;
}

@media screen and (max-width: 815px) {
  .wrapper {
    padding: 25px;
  }
  header {
    flex-direction: column;
  }
  header:where(h2, .column) {
    margin-bottom: 13px;
  }
  .volumn-slider input {
    max-width: 100px;
  }
  .piano-keys {
    margin-top: 20px;
  }
  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }

  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}
@media screen and (max-width: 615px) {
  .piano-keys .key:nth-child(13),
  .piano-keys .key:nth-child(14),
  .piano-keys .key:nth-child(15),
  .piano-keys .key:nth-child(16),
  .piano-keys .key:nth-child(17) {
    display: none;
  }
  .piano-keys .white {
    width: 50px;
  }
}
