@import "mixins/clear.less";

#wrapper {
  //头部开始
  #header {
    //上面部分
    .headTop {
      background-color: #eaeaea;
      height: 30px;
      
      .headTopMain {
        .main();
        line-height: 30px;
        .clearfix();
        
        .left {
          h5 {
            float: left;
            margin-right: 5px;
          }
          
          p {
            float: left;
            
            a {
              &:first-child {
                border-right: 1px solid #b3aeae;
                padding: 5px;
              }
            }
          }
        }
        
        .right {
          float: right;
          
          nav {
            font-size: 0;
            
            a {
              font-size: 12px;
              margin-right: 10px;
              padding-right: 10px;
              border-right: 1px solid #b3aeae;
              
              &:last-child {
                border: none;
                margin-left: 0;
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    
    //下面部分
    .headBottom {
      //版心元素
      .headBottomMain {
        .main();
        .clearfix();
        //logo
        .logo {
          float: left;
          
          a {
            img {
              width: 175px;
              height: 56px;
              margin: 25px 45px;
            }
          }
        }
        
        //搜索框
        .search {
          float: right;
          margin-top: 35px;
          
          input {
            //文本框
            &:first-child {
              box-sizing: border-box;
              width: 490px;
              height: 32px;
              padding: 0 4px;
              border: 3px solid #ea4a36;
              float: left;
            }
            
            //提交按钮
            &:last-child {
              width: 68px;
              height: 32px;
              color: #fff;
              background-color: #ea4a36;
              border: none;
            }
            
            //修饰placeholder
            &::-webkit-input-placeholder {
              color: yellowgreen;
            }
            
          }
        }
      }
    }
    
  }
  
  //头部结束
  //分类导航开始
  #navWrap {
    border-bottom: 2px solid #e1251b;
    //版心元素
    .navWrapMain {
      .main();
      .clearfix();
      
      
      a {
        margin: 0 22px;
        font-size: 16px;
        color: #333;
        float: left;
        text-align: center;
        line-height: 50px;
        
        &:first-child {
          float: left;
          width: 210px;
          height: 50px;
          background-color: #e1251b;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
  
  //分类导航结束
  
  //内容区域开始
  #content {
    .containMain {
      .main();
      margin: 15px auto 0 auto;
      
      #navPath {
        padding: 9px 15px 9px 0;
        font-size: 0;
        
        a {
          font-size: 12px;
        }
        
        i {
          padding: 0 5px;
          font-size: 12px;
        }
      }
      
      //中间区域开始
      #center {
        
        margin: 5px 0 15px;
        .clearfix();
        //左侧放大镜开始
        #left {
          width: 400px;
          float: left;
          //上边
          #leftTop {
            width: 400px;
            position: relative;
            //小图框
            #smallPic {
              position: relative;
              width: 400px;
              height: 400px;
              border: 1px solid #dfdfdf;
              
              img {
              }
              
              .mask {
                display: none;
                width: 200px;
                height: 200px;
                background-color: rgba(255, 255, 255, .5);
                border: 1px solid #ddd;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
            
            //大图框
            #bigPic {
              display: none;
              width: 400px;
              height: 400px;
              border: 1px solid #ddd;
              position: absolute;
              top: 0;
              left: 420px;
              overflow: hidden;
              
              img {
                position: absolute;
                width: 800px;
                height: 800px;
                left: 0;
                top: 0;
              }
            }
          }
          
          //下边
          #leftBottom {
            width: 400px;
            margin-top: 5px;
            .clearfix();
            
            a {
              width: 10px;
              height: 54px;
              border: 1px solid #ccc;
              background-color: #ebebeb;
              text-align: center;
              line-height: 54px;
              float: left;
              
              &:first-child {
                margin-right: 4px;
              }
            }
            
            .piclist {
              width: 372px;
              height: 56px;
              float: left;
              position: relative;
              overflow: hidden;
              
              
              ul {
                position: absolute;
                left: 0;
                white-space: nowrap;
                transition: all 0.5s ease;
                
                li {
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  border: 1px solid #ccc;
                  padding: 2px;
                  margin-right: 20px;
                  
                  img {
                    width: 50px;
                    height: 50px;
                  }
                }
              }
            }
          }
        }
        
        //右侧商品详情区域开始
        .right {
          float: right;
          width: 700px;
          //商品详情数据结构开始
          .rightTop {
            h3 {
              font-size: 14px;
              line-height: 15px;
              margin-top: 15px;
            }
            
            > p {
              color: #e12228;
              margin-top: 15px;
            }
            
            .priceWrap {
              margin-top: 10px;
              line-height: 28px;
              background-color: #fee9ec;
              padding: 7px;
              
              .priceTop {
                .clearfix();
                
                > span {
                  margin-right: 15px;
                  float: left;
                }
                
                .price {
                  float: left;
                  color: #cc1122;
                  
                  
                  > span {
                    font-size: 16px;
                    float: left;
                  }
                  
                  p {
                    float: left;
                    font-size: 24px;
                    font-weight: bold;
                  }
                  
                  i {
                    font-size: 12px;
                    float: left;
                    color: #cc1122;
                  }
                }
                
                > p {
                  float: right;
                  
                  > span {
                  
                  }
                }
              }
              
              .priceBottom {
                
                .clearfix();
                
                > span {
                  float: left;
                  margin-right: 15px;
                }
                
                p {
                  width: 520px;
                  line-height: 28px;
                  float: left;
                  
                  > span {
                    color: #999;
                    
                    &:first-child {
                      background-color: #c81623;
                      padding: 3px;
                      color: #fff;
                    }
                  }
                }
              }
            }
            
            .support {
              margin-top: 10px;
              line-height: 28px;
              
              .clearfix();
              
              > span {
                margin-right: 15px;
                float: left;
              }
              
              > p {
                float: left;
                color: #999;
              }
            }
            
            .address {
              border-bottom: 1px solid #ededed;
              padding-bottom: 5px;
              line-height: 28px;
              margin-top: 10px;
              .clearfix();
              
              > span {
                margin-right: 15px;
                float: left;
              }
              
              > p {
                float: left;
                color: #999;
              }
            }
          }
          
          .rightBottom {
            margin-top: 10px;
            line-height: 28px;
            //选择之后结果的区域开始
            .choose {
              .clearfix();
              
              #mark {
                height: 30px;
                background-color: snow;
                border: 1px solid #ddd;
                padding: 0 20px;
                margin-right: 20px;
                text-align: center;
                line-height: 30px;
                float: left;
                
                a {
                  color: red;
                  margin-left: 20px;
                }
              }
            }
            
            //商品参数的选择区域开始
            .chooseWrap {
              
              dl {
                margin-top: 13px;
                margin-bottom: 13px;
                .clearfix();
                
                dt {
                  margin-right: 15px;
                  float: left;
                }
                
                dd {
                  float: left;
                  margin-right: 5px;
                  color: #666;
                  line-height: 24px;
                  padding: 2px 14px;
                  border-top: 1px solid #eee;
                  border-left: 1px solid #eee;
                  border-right: 1px solid #bbb;
                  
                  &:first-of-type {
                    color: red;
                  }
                }
              }
            }
            
            //添加购物车区域开始
            .addCart {
              .clearfix();
              
              .count {
                width: 55px;
                margin-right: 15px;
                position: relative;
                float: left;
                
                input {
                  width: 38px;
                  height: 37px;
                  border: 1px solid #ddd;
                  color: #555;
                }
                
                a {
                  border: 1px solid #ddd;
                  width: 15px;
                  height: 18px;
                  color: #666;
                  background-color: #f1f1f1;
                  position: absolute;
                  right: 1px;
                  text-align: center;
                  line-height: 18px;
                  
                  &:first-child {
                    top: 0;
                  }
                  
                  &:last-child {
                    top: 19px;
                  }
                }
              }
              
              button {
                float: left;
                padding-left: 25px;
                padding-right: 25px;
                height: 36px;
                font-size: 16px;
                background-color: #e1251b;
                color: #fff;
                border: none;
              }
            }
            
            //添加购物车区域结束
          }
        }
      }
      
      //商品详情中间部分开始
      .goodsDetailWrap {
        width: 1200px;
        margin: 30px auto 0;
        .clearfix();
        //左边的侧边栏
        .leftAside {
          float: left;
          width: 210px;
          border: 1px solid #ccc;
          .clearfix();
          height: 1000px;
          //上边
          .asideTop {
            .clearfix();
            
            h4 {
              width: 105px;
              height: 40px;
              background-color: #fff;
              float: left;
              text-align: center;
              line-height: 40px;
              border-top: 3px solid #fff;
              border-bottom: 1px solid #ccc;
              
              &.active {
                border-top: 3px solid #e1251b;
                border-bottom: none;
              }
            }
          }
          
          //下边
          .asideContent {
            padding: 10px;
            
            div {
              display: none;
              
              &.active {
                display: block;
                
                ul {
                  &.goodsList1 {
                    li {
                      width: 50%;
                      border-bottom: 1px dashed #ededed;
                      line-height: 28px;
                      float: left;
                    }
                  }
                  
                  &.goodsList2 {
                    li {
                      border-bottom: 1px solid #ededed;
                      
                      img {
                        width: 152px;
                      }
                      
                      span {
                      
                      }
                      
                      p {
                        font-size: 16px;
                        color: #c81623;
                      }
                      
                      .button {
                        margin: 5px 0;
                        text-align: center;
                        
                        a {
                          color: #8c8c8c;
                          padding: 2px 14px;
                          line-height: 18px;
                          border: 1px solid #8c8c8c;
                          
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        
        //右侧的结构
        .rightDetail {
          width: 980px;
          float: right;
          //选择搭配开始
          .chooseBox {
            border: 1px solid #ddd;
            margin-bottom: 15px;
            
            h4 {
              border-bottom: 1px solid #ddd;
              background-color: #f1f1f1;
              color: #333;
              padding: 5px 0 5px 15px;
            }
            
            .listWrap {
              height: 170px;
              padding-top: 10px;
              //左边
              .left {
                text-align: center;
                width: 127px;
                height: 165px;
                position: relative;
                float: left;
                
                img {
                  margin: 0 auto;
                  width: 87px;
                }
                
                p {
                  color: #c81623;
                  font-size: 16px;
                }
                
                i {
                  position: absolute;
                  top: 48px;
                  right: -25px;
                  font-size: 16px;
                }
              }
              
              //中间
              .middle {
                width: 668px;
                height: 165px;
                float: left;
                text-align: center;
                
                li {
                  float: left;
                  width: 127px;
                  margin: 0 20px;
                  
                  img {
                    width: 120px;
                    height: 130px;
                  }
                  
                  > span {
                  }
                  
                  div {
                    input {
                    }
                    
                    span {
                    }
                  }
                }
              }
              
              //右侧
              .right {
                border-left: 1px solid #ddd;
                float: left;
                width: 153px;
                height: 165px;
                padding-left: 20px;
                
                div {
                  margin: 10px 0;
                }
                
                p {
                  font-weight: bold;
                  margin-bottom: 10px;
                }
                
                i {
                  color: #b1191a;
                  font-size: 16px;
                  margin-bottom: 10px;
                }
                
                button {
                  padding: 10px 25px;
                  font-size: 16px;
                  color: #fff;
                  background-color: #e1251b;
                  border: none;
                }
              }
            }
          }
          
          //选项卡开始
          .bottomDetail {
            
            //菜单
            .tabBtns {
              background-color: #ededed;
              .clearfix();
              
              li {
                border: 1px solid #ddd;
                border-left: none;
                background-color: #fff;
                height: 40px;
                padding-left: 11px;
                padding-right: 11px;
                float: left;
                text-align: center;
                line-height: 40px;
                
                &:first-child {
                  border-left: 1px solid #ddd;
                }
                
                &.active {
                  background-color: red;
                  border-left: 1px solid #ddd;
                  
                  a {
                    color: #fff;
                  }
                  
                }
                
              }
            }
            
            //内容
            .tabContents {
              div {
                padding-left: 20px;
                line-height: 25px;
                display: none;
                
                &.active {
                  margin: 10px 0;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    
  }
  
  //内容区域结束
  //右侧侧边栏开始
  .rightAside {
    width: 300px;
    height: 100%;
    background-color: #7a6e6e;
    position: fixed;
    transition: 0.5s;
    top: 0;
    
    &.asideClose {
      right: -294px;
    }
    &.asideOpen{
      right: 0;
    }
    
    //按钮区域
    .btns {
      width: 35px;
      height: 35px;
      background-color: #7a6e6e;
      border-radius: 5px 0 0 5px;
      left: -29px;
      background-size: 35px 35px;
      position: absolute;
      
      &.btnsClose {
        background-image: url("../images/list.png");
      }
      &.btnsOpen{
        background-image: url("../images/cross.png");
      }
    }
    
    //侧边栏内容区域
    .content {
      width: 294px;
      background-color: bisque;
      position: absolute;
      left: 6px;
      top: 0;
      bottom: 0;
      z-index: 50;
    }
    
    //侧边导航
    .navList {
      position: absolute;
      left: -29px;
      top: 50%;
      transform: translateY(-50%);
      
      li {
        width: 35px;
        height: 35px;
        position: relative;
        
        p {
          height: 35px;
          width: 35px;
          background-color: #7a6e6e;
          background-image: url("../images/toolbars.png");
          background-position: -87px -174px;
          transition: 0.5s;
        }
        
        i {
          width: 62px;
          height: 35px;
          text-align: center;
          line-height: 35px;
          position: absolute;
          left: 35px;
          top: 0;
          background-color: #7a6e6e;
          transition: 0.5s;
          opacity: 0;
        }
        
        &:hover {
          p {
            background-color: pink;
          }
          
          i {
            background-color: pink;
            left: -62px;
            opacity: 1;
          }
        }
      }
    }
  }
  
  //右侧侧边栏结束
}

